
<div>
<table class="table table-dark" id="mytable" style="margin-top: 10%">
      <thead>
        <tr>
          <th>Nama KA</th>
          <th>Pemberhentian</th>
        </tr>
      </thead>
      <tbody>
         {{#each results}}
        <tr>
          <td>{{ namka }}</td>
          <td>{{ stasiun }}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
</div>

